/* Layout
================================= */
html {
	height: 100%;
}

body { 
  background-image: url("../assets/mars_gradient_background.gif");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  overflow-y: scroll; /* always show scroll bar --> maybe this will workd for android */
  min-height: 100%;
}

/* Navbar
========================================= */
.navbar { 
	line-height: 54px;
	height: 54px;
	overflow: visible;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-custom {
	opacity: 0.9;
  /* gradient */
  background-image: -webkit-linear-gradient(top, #202020 0%, #1b1b1b 100%);
	background-image: linear-gradient(to bottom, #202020 0%, #1b1b1b 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1d', endColorstr='#ff202020', GradientType=0);
}
/* title */
.navbar-custom .navbar-brand {
  color: #DFDFDF;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #DFDFDF;
}
/* links */
.navbar-custom .navbar-nav li a {
  padding-top: 19px;
  max-height: 53px;
}
.navbar-custom .navbar-nav > li > a {
  color: #BCBCBC;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #E7E7E7;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
  color: #282828;
  background-color: #D5D5D5;
}


#titleLarge {
  margin-right: 22px;
}
#titleSmall {
  font-size: 19px;
  color: #DFDFDF;
  font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
  padding-top: 18px;
  margin-right: 24px;
  max-height: 53px;
}
#titleSmall:hover {
  color: #F8F8F8;
}

#poweredBy {
  margin-left: 32px;
}
#botSelector {
  color: #BCBCBC;
  padding-top: 2px;
  max-height: 53px;
}
#botSelectorList {
  max-height: 500px;
  overflow-y: auto; /* add vertical scroll bar if necessary */
  max-width: 250px;
  overflow-x: auto; /* add horizontal scroll bar if necessary */
}

/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #F48E40;
    border-bottom-color: #F48E40;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #EA3669;
    border-bottom-color: #EA3669;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #1F1F1F;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #E7E7E7;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #A3A3A3;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #1F1F1F;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #282828;
    }
}
@media (max-width: 931px) {
  #poweredBy {
    display: none;
  }
  #poweredByText {
    display: block;
  }
  #twitterText {
    display: block;
  }
  #githubText {
    display: block;
  }
  .navbar-collapse { /* add styles to dropdown menu of collapsed navbar items */
    background-color: #313233;
    text-align: right;
    overflow-x: auto; 
    overflow-y: auto; 
/*    max-width: 250px;*/
  }
}
@media (min-width: 932px) {
  #poweredBy {
    display: block;
  }
  #poweredByText {
    display: none;
  }
  #twitterText {
    display: none;
  }
  #githubText {
    display: none;
  }

}

/* Footer
========================================= */
.main-footer {
	background: #1F1F1F; 
	position: absolute;
	width: 100%;
	height: 48px; /* Should be 10px less than bottom padding on content */
	bottom: 0;
  padding-left:10px;
}
.footer-text {
  padding-top: 14px;
  font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 12px;
  color: #A3A3A3;
}
.footer-text a {
  text-decoration: none;
  color: #A3A3A3;
}
.footer-text a:hover{
  text-decoration: none;
  color: #E7E7E7;
}.
.main-footer .site-icon {
  color: #A3A3A3;
  font-size: 24px;
}
.main-footer .site-icon a {
  text-decoration: none;
  color: #A3A3A3;
  font-size: 24px;
}
.main-footer .site-icon a:hover {
  color: #E7E7E7;
}
.mobile-footer {
  background: #1F1F1F; 
  position: absolute;
  text-align: center;
  width: 100%;
  height: 68px; /* Should be taller than before padding on content */
  bottom: 0;
}
.mobile-footer .site-icon {
  color: #A3A3A3;
  font-size: 20px;
  margin-top: -10px;
}
.mobile-footer .site-icon a {
  text-decoration: none;
  color: #A3A3A3;
  font-size: 20px;
}
.mobile-footer .site-icon a:hover {
  color: #E7E7E7;
}

/*Fonts
========================================== */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]::before {
  font-family: 'icomoon';
  content: attr(data-icon);
  margin-right: 8px;
  speak: none;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  padding: 0;
}

/*.icon-github6:before {
  content: "\e177";
}
.icon-github7:before {
  content: "\e178";
}
.icon-vimeo4:before {
  content: "\e17b";
}
.icon-vimeo5:before {
  content: "\e17c";
}
.icon-twitter4:before {
  content: "\e17d";
}
.icon-twitter5:before {
  content: "\e17e";
}
.icon-facebook4:before {
  content: "\e17f";
}
.icon-facebook5:before {
  content: "\e180";
}
.icon-facebook6:before {
  content: "\e181";
}
.icon-googleplus5:before {
  content: "\e182";
}
.icon-googleplus6:before {
  content: "\e183";
}
.icon-linkedin2:before {
  content: "\e186";
}
.icon-linkedin3:before {
  content: "\e187";
}
*/