/* Layout
================================= */

body { 
	margin: 0px;
}

#gameWorld {	
	display: block;
	vertical-align: baseline;
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 960px;
	height: 710px;
	overflow: hidden;
	clear: both;
	z-index: 10;
}

#textEditor {
	background-color: #313233;
	color: #C8C8C8;
	width: 960px;
	height: 150px;
	font-family: Courier New, Lucida Console, Monaco, monospace;
	border-radius: 10px;
	margin: 3px auto 0 auto;
	font-size: 12px
}
#subButton {
	position: absolute;
	bottom: 0;
	left: 0;
}
#errorMsg {
	position: absolute;
	bottom: 25px;
	left: 5px;
	color: red;
}

span#editorLabel {
	width: inherit;
	text-align: center;
}

/* Create placeholder text for textEditor*/
[contentEditable="true"]:empty:not(:focus):before {
        content:attr(placeholder);
        font-style: italic;
}