/* Layout
================================= */
html {
	height: 100%;
}

body { 
  background-image: url("../assets/mars_gradient_background.gif");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  overflow-y: scroll; /* always show scroll bar --> maybe this will workd for android */
  min-height: 100%;
}

/* Navbar
========================================= */
.navbar { 
	line-height: 54px;
	height: 54px;
	overflow: visible;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-inverse {
    background-color: #000000;
    border-radius: 0;
}
#titleSmall {
	color: #DFDFDF;
	font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
}
#poweredBy {
	color: #DFDFDF;
	font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
}
.navbar .container-fluid .navbarMiddle .nav .dropdown {
	padding-top: 7px;
	padding-left: 10px;
}
.navbar .container-fluid .navbarMiddle .nav .dropdown .dropdown-toggle {
	color: #DFDFDF;
	font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
}
.navbar .container-fluid .collapse .nav .navLinks {
	padding-top: 10px;
	padding-right: 5px;
}


/*@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}*/


.navbar-custom {
    /* gradient */
    background-image: -webkit-linear-gradient(top, #202020 0%, #1b1b1b 100%);
	background-image: linear-gradient(to bottom, #202020 0%, #1b1b1b 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1d', endColorstr='#ff202020', GradientType=0);
}
/* title */
.navbar-custom .navbar-brand {
    color: #DFDFDF;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #DFDFDF;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #BCBCBC;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}



/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #202020;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #202020;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #1E1E1E;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #1F1F1F;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #282828;
    }
}

/* Progress bar
========================================= */
#progressBar {
	margin: 15% auto;
	width: 600px;
	height: 22px;
	background-color: #292929;
	box-shadow: 0 2px 3px #333;	
	border-radius: 11px;
	padding: 2px;
	border: 1px solid #111;
}
#progressBar div {
	height: 100%;
	color: #000;
	font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #111;
    background: #7E430C;
	border-radius: 8px;
	box-shadow: 0 3px 5px #ccc inset;
	overflow: hidden;
}

/* Control panel canvas
========================================= */
#gameWorld {	
	display: block;
	vertical-align: baseline;
	margin: -14px auto 0 auto;
	padding: 0;
	border: 0;
	
	width: 1132px;
	/*height: 653px;
	*/
	overflow: hidden;
	clear: both;
}

/* Text editor
========================================= */
#textEditor {
	background-color: #313233;
	color: #C8C8C8;
	opacity: 0.95;
	overflow: auto;
	min-height: 180px;
	width: 1130px;
	font-family: Courier New, Lucida Console, Monaco, monospace;
	border-radius: 1px;
	border-style: solid;
	border-width: 2px;
	border-color: #6f6f6f;
	margin: 8px auto 0 auto;
	font-size: 12px;
	position: relative;
}
.previousCode {
	overflow: auto;
	max-height: 170px;
	padding: 6px;
}

#currentCode {
	overflow: auto;
	max-height: 170px;
	background-color: #606060;
	outline: none;
	padding: 6px;
	margin: 0;
	border-top: 3px solid #CF9158;
}

#label {
	font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
	font-size: 16px;
	color: #202020;
	text-align: left;
	padding: 1px 8px;
	margin-bottom: 2px;
	/* gradient */
	background-image: -webkit-linear-gradient(top, #777879 0%, #626263 100%);
	background-image: linear-gradient(to bottom, #777879 0%, #626263 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff626263', endColorstr='#ff777879', GradientType=0);

}

/* Run and Repository buttons to align with textEditor */
.editorButtons {
	position: relative;
	top: 5px;
	bottom: 2px;
	background: transparent;
	border-radius: 1px;
	color: #C8C8C8;
}
#runButton {
	font-size: 12px;
    left: -moz-calc(50% - 565px);
    left: -webkit-calc(50% - 565px);
    left: calc(50% - 565px);
}
#repoButton {
	font-size: 12px;
	left: -moz-calc(50% - 565px);
	left: -webkit-calc(50% - 565px);
	left: calc(50% - 565px);
}


/* Create placeholder text for textEditor*/
[contentEditable="true"]:empty:not(:focus):before {
        content:attr(placeholder);
        font-style: italic;
}

.content {
	padding-bottom: 50px; /* This should be the same as the footer height */
	height: 100%
}

/* Footer
========================================= */
#footer {
	background: #1F1F1F; 
	padding-top: 10px;
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: Open Sans, Helvetica, Trebuchet MS, Arial, sans-serif;
	font-size: 12px;
	color: #A3A3A3;
	height: 40px; /* Should be same as bottom padding on content */
	bottom: 0;

}
#footer a {
	text-decoration: none;
	color: #A3A3A3;
}

/* Scroll bar
========================================= */
html::-WebKit-scrollbar {
	-WebKit-appearance: none;
	width: 18px;
}

html::-WebKit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgba(0,0,0,.5);
	-WebKit-box-shadow: 0 0 1px rgba(49,50,51,.5);
}

.previousCode::-WebKit-scrollbar-track {
	border-radius: 10px;
	background-color: #313233
}
.previousCode::-WebKit-scrollbar {
	width: 12px;
	background-color: #313233;
}
.previousCode::-WebKit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D55379;
}
#currentCode::-WebKit-scrollbar-track {
	border-radius: 10px;
	background-color: #606060
}
#currentCode::-WebKit-scrollbar {
	width: 12px;
	background-color: #606060;
}
#currentCode::-WebKit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #CF9158;
}
