
#textEdit {
  color: white;
  width: 50em;
  height: 10em;
  background-color: #313233;
  border-radius: 5px;
}

#textEdit[placeholder]:empty:before {
    content: attr(placeholder);
    color: #888;
    font-style: italic;
}